[Desktop Entry]
Type=Application
Name=Start sunshine streaming
GenericName=RemoteAccess
Exec=sunshine
Icon=sunny
Terminal=false
Categories=Utility;RemoteAccess;
Keywords=sunshine;RemoteAccess;internet;
StartupWMClass=sunshine
